<html>
  <head>
    <title>Buy Item 1</title>
  </head>
  <body>
    <h1>{{product.name}}</h1>
    <p>Description of Item 1</p>
    <p>${{product.get_display_price}}</p>
    <button id="buy-button">Buy</button>
    {% csrf_token %}
    <script type="text/javascript">
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      var stripe = Stripe('{{STRIPE_PUBLIC_KEY}}');
      var buyButton = document.getElementById(buy-button');
      buyButton.addEventListener('click', function() {
      // Create a new Checkout Session using the server-side endpoint
      // Redirect to Stripe Session Checkout
      fetch('{% url 'create-checkout-session' product.id %}', {method: 'GET', headers: {'X-CSRFToken': csrftoken}
    })
      .then(response => return response.json())
      .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
      });
    </script>
  </body>
</html>
